@import url('https://fonts.googleapis.com/css?family=Amaranth|Anton|Noto+Sans|Oswald|Teko');

.main-text {
  font-size: 14px;
}

h1 {
  transform: scaleY(1.1);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  // font-family: 'Teko', sans-serif;
}

label {
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0 0 -15px 0;
}

.list-group-item {
  height: 37px;
  padding: 6px 0 6px 5px;
  display: flex;
  vertical-align: middle;
}

.asterisk {
  color: red;
  font-size: 24px;
  padding-left: 5px;
  vertical-align: top;
}

.error {
  font-weight: bold;
  display: none;
  align-items: center;

  i {
    font-size: 22px;
    padding-right: 10px;
  }
}

.button-style {
  font-weight: bold;
  font-size: 16px;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    padding-right: 10px;
  }
}

#location-error, #calculate-error {
  @extend .error;
}

#search-button, #calculate-button {
  @extend .button-style;
}
