
// Extra Small devices (landscape phones, 576px and below)
@media (max-width: 576px) {
  h1 {
    font-size: 20px;
    padding-top: 5px;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .google-map {
    height: 50vh;
  }

  .navbar {
    height: 60px;
  }

  .main-text {
    font-size: 13px;
  }

  label {
    font-size: 14px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size: 36px;
  }

  img {
    width: 60px;
    height: 60px;
  }

  .navbar {
    height: 80px;
  }

  .google-map {
    height: 65vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-fluid {
    padding: 0px 40px;
  }

  .google-map {
    height: 80vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-fluid {
    padding: 0px 60px;
  }

  .google-map {
    height: 100vh;
  }

  .main-text {
    font-size: 15px;
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .container-fluid {
    padding: 0px 80px;
  }

  .google-map {
    height: 80vh;
  }

  .main-text {
    font-size: 18px;
  }

  h1 {
    font-size: 46px;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .navbar {
    height: 100px;
  }
}
