.navbar {
  height: 75px; }

h1 {
  font-size: 28px; }

label {
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0 0 -15px 0; }

.list-group-item {
  height: 37px;
  padding: 6px 0 6px 5px;
  display: flex;
  vertical-align: middle; }

.asterisk {
  color: red;
  font-size: 24px;
  padding-left: 5px;
  vertical-align: top; }

.error, #location-error, #calculate-error {
  font-weight: bold;
  display: none;
  align-items: center; }
  .error i, #location-error i, #calculate-error i {
    font-size: 22px;
    padding-right: 10px; }

#calculate-button {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0; }
  #calculate-button i {
    padding-right: 10px; }

@media (max-width: 576px) {
  h1 {
    font-size: 20px; }
  .google-map {
    height: 50vh; } }

@media (min-width: 576px) {
  .google-map {
    height: 70vh; } }

@media (min-width: 768px) {
  .container-fluid {
    padding: 0px 40px; } }

@media (min-width: 992px) {
  .container-fluid {
    padding: 0px 60px; } }

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0px 80px; }
  .google-map {
    height: 85vh; } }
